//-----[---ШРИФТЫ---]-----------------------------------------------------------------------------------------------------------------
//-----[Подключаем шрифты/]-----------------------------------------------------------------------------------------------------------
@import "sourse-styles/fonts.scss";
//-----[/Подключаем шрифты/]----------------------------------------------------------------------------------------------------------

//-----[Шрифт по умолчанию/]----------------------------------------------------------------------------------------------------------
//$fontfamily:'Roboto';
body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	color: #fff;
}
//-----[/Шрифт по умолчанию/]---------------------------------------------------------------------------------------------------------
//-----[--/ШРИФТЫ/--]-----------------------------------------------------------------------------------------------------------------




//-----[---ПЕРЕМЕННЫЕ---]-------------------------------------------------------------------------------------------------------------
//$min-width: 320px;
$gold: #C8A35F;
$dark: #2F343A;
//-----[--/ПЕРЕМЕННЫЕ/--]-------------------------------------------------------------------------------------------------------------




//-----[---ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ---]---------------------------------------------------------------------------------------------
@import "sourse-styles/null.scss";

/* body {
	
} */
//-----[--/ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ/--]---------------------------------------------------------------------------------------------




//-----[---ОБОЛОЧКА---]---------------------------------------------------------------------------------------------------------------
.wrapper {
	display: flex;
	flex-direction: column;
	background-color: $dark;
	min-height: 100%;
}
//-----[--/ОБОЛОЧКА/--]---------------------------------------------------------------------------------------------------------------




//-----[---ОСНОВНАЯ СЕТКА---]---------------------------------------------------------------------------------------------------------
.container {
	max-width: 1140px;
	padding: 0px 15px;
	margin: 0 auto;
}
//-----[--/ОСНОВНАЯ СЕТКА/--]---------------------------------------------------------------------------------------------------------




//-----[---ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ---]--------------------------------------------------------------------------
@import "sourse-styles/colors.scss";
//-----[--/ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ/--]--------------------------------------------------------------------------




//-----[---ОСНОВНОЙ БЛОК---]----------------------------------------------------------------------------------------------------------
@import "styles/aside.scss";
@import "styles/header.scss";
@import "styles/main.scss";
@import "styles/slider.scss";
//-----[--/ОСНОВНОЙ БЛОК/--]----------------------------------------------------------------------------------------------------------




//-----[---Вспомогательные стили---]--------------------------------------------------------------------------------------------------
@import "styles/animation.scss";
//-----[--/Вспомогательные стили/--]-------------------------------------------------------------------------------------------------- 